:root {
  --marginTop: 25px;
  --primaryColor: #007bbf;
  --secondary: #fe9f15;
}
* {
  font-family: "Cairo" !important;
}
.dropdown button {
  border: none;
}

.flag {
  border-radius: 10px;
  width: 120px;
  color: white;
  display: flex;
  padding: 10px;
  align-items: center;
  direction: rtl;
  appearance: none; /* Disable native UI */
  background-position: 10px center; /* Position it to the left */
  direction: rtl;
  background: linear-gradient(
    0.4turn,
    #004e68,
    #004e69,
    #1f8cb0,
    #4bbbe0,
    #2c88a7
  );
  position: relative;
}
.flag i img {
  width: 25px;
  padding-right: 10px;
  margin-bottom: 5px;
}
.flag img {
  width: 25px;
  margin-left: 5px;
}
.flag span {
  font-size: 14px;
}
.navbar-toggler {
  border: none !important;
  outline: none !important;
  box-shadow: none !important;
}
.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
  outline: none;
  box-shadow: none;
}
.search_box {
  margin-top: var(--marginTop);
  direction: rtl;
  position: relative;
}
.search_box .search_input {
  border-radius: 10px;
  padding: 10px;
  background-color: #f1f1f1;
}
.search_box i {
  position: absolute;
  top: 8px;
  left: 25px;
}
.offer_img img {
  width: 100%;
}
.offer_img {
  margin-top: var(--marginTop);
}
.games_section {
  margin-top: var(--marginTop);
  text-align: center;
  font-family: "Cairo";
}
.games .figure {
}
.games_section .games {
  margin-top: var(--marginTop);
}

.games_section .game_image {
  background-color: var(--primaryColor);
  border-radius: 16px;
  margin-bottom: 5px;
  height: 72px;
}
.games_section .game_image img {
  width: 66px;
  height: 66px;
  overflow: hidden;
  transform: scale3d(1, 1.2, 1);
}
.games_section .game_btn {
  display: flex;
  justify-content: start;
}
.games_section .col-3 {
  padding: 0;
}
.games_section .game_caption {
  font-weight: 500 !important;
  font-size: 10px;
  line-height: 22.49px;
}
.games_section button {
  border-radius: 10px !important;
  background-color: var(--secondary);
  border-color: var(--secondary);
  color: black;
  padding: 10px;
  border: none;
  font-size: 12px;
}

.games_section button:hover {
  background-color: var(--secondary);
  border-color: var(--secondary);
  color: black;
}

.my_span {
  display: flex;
  align-items: center;
  justify-content: end;
}

.swiper-wrapper .swiper-slide {
  text-align: center;
  display: flex;
  justify-content: center;
}
.coupon {
  border: 1px solid #e8e8e8;
  background-color: #e8e8e8;
  text-align: center;
  height: 128px;
  width: 92px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.coupon .img {
  height: 60px;
}
.coupon .img img {
  width: 50px;
  height: 66px;
}
.coupon .content .offer span {
  background: -webkit-linear-gradient(
    #1f8cb0,
    #4bbbe0,
    #2c88a7,
    #004e68,
    #004e69
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
}
.coupon .content .offer {
  background: -webkit-linear-gradient(
    #004e68,
    #004e69,
    #1f8cb0,
    #4bbbe0,
    #2c88a7
  );

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
}
.coupon .content .button .btn {
  background-color: var(--primaryColor) !important;
  font-size: 10px;
  border-radius: 10px !important;
}

.my_swiper {
  border-radius: 40px 0px 32px 0px;
  padding-left: 0px !important;
}
.my_swiper .swipe {
  margin-top: var(--marginTop);
  direction: rtl;
}

.select {
}

.select img {
  margin-bottom: 2x px;
}
.bottom {
  display: flex;
  justify-content: center;
  align-items: center;
}
.bottom .home {
  position: relative;
  width: 65px;
  height: 65px;
  background-color: var(--primaryColor);
  border: 5px solid #f4f4f4;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
  transform: translateY(-30px);
}

.bottom .menu {
  position: absolute;
  width: 100%;
  height: 70px;
  background-color: var(--primaryColor);
}

.bottom .home i {
  position: absolute;
  inset: 1;
}

.bottom .home i::after {
  content: "";
  position: absolute;
  top: -5px;
  left: -51px;
  width: 20px;
  height: 20px;
  background-color: transparent;
  border-top-right-radius: 20px;
  box-shadow: 3.9px -5px #f4f4f4;
}
.bottom .home i::before {
  content: "";
  position: absolute;
  top: -5px;
  right: -51px;
  width: 20px;
  height: 20px;
  background-color: transparent;
  border-top-left-radius: 20px;
  box-shadow: -3.9px -5px #f4f4f4;
}

.bottom .items {
  margin-top: 15px;
  display: flex;
  justify-content: end;
}
.bottom .items > div {
  width: 20%;
  text-align: center;
  color: white;
}

.footer {
  height: 700px;
  margin-top: 20px;
  background: #f4f4f4;
  border: 1px solid #fff;
  border-top-left-radius: 32px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer::before {
  content: "";
  position: absolute;
  top: -73px;
  right: 0;

  background-color: transparent;
  height: 50px;
  width: 5px;
  border-bottom-right-radius: 25px;
  box-shadow: 0 25px 0 0 #e3e3e3;
}
.footer div {
  position: relative;
}

.footer h1 {
  font-size: 48px;
}
.footer p {
  font-size: 32px;
}
